<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F91159EF1DC1655800CA3FD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9115A081DC1655900CA3FD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9115A131DC1655900CA3FD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
